@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal_wrapper {
    @apply transition ease-in-out delay-150;
    position : absolute;
    bottom: 0;
    background : rgba(0,0,0,0.4);
    height : 100vh;
    width : 100vw;
    display : flex;
    justify-content : center;
    align-items : end;
    z-index:3;
}

.modal {
    position: relative;
    @apply bg-popup flex flex-col justify-center items-center py-8 transition ease-in-out delay-150;
    animation: 1s ease fadeIn;
    width : 100%;
    border-radius : 40px 40px 0 0;
    z-index: 3;
}

.modal:after{
    content: "";
    @apply bg-slate-100 opacity-10 rounded;
    position: absolute;
    top: 6px;
    width: 50%;
    height: 6px;
}

.title {
    @apply text-lg;
    position: absolute;
    top: 18px;
    left: 20px;
}
